

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* step-1- keep margin,padding =0and box-sizing  */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    /* ye ni th- */
    
  

}
html{

    /* 1rem=10px */
    font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6{  font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}
:focus {
    outline: none;
}


 /*  nav-container */
 .Allcard{
    /* 1420px */
    max-width: 142rem;
   margin: 0 auto;
   /* padding-top: 9.6rem;
   padding-bottom: 9.6rem;
   padding-left: 9.6rem; */
   /* pehle 2.4 th */

   /* padding-right: 9.6rem; */

 }h6{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color:black;
text-transform: capitalize;
 }h3{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color:black;
    text-transform: capitalize;
 }
 .nav{
    /* margin: 1rem 0; */

    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    background-image: linear-gradient(to top right, rgba(18, 0, 98, 0.5), rgba(15, 87, 210, 0.5), rgba(22, 100, 234, 0.5), rgba(179, 210, 255, 0.5), rgba(235, 243, 254, 0.5));
    background-size: cover;
   
    background-position: center;
    
    background-blend-mode: multiply; 
    top:0;
    z-index: 99;
    left: 0;
    right: 0;
    
 }
 .navbar{
    padding:0 1rem;
 }


.navbar ul{
    display: flex;
    gap: 3.2rem;
   
  
}
.navbar ul li a{
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size:1.7rem;
    display: inline-block;
    position: relative;
    color:black;
    font-family: "Urbanist", sans-serif;
}
.nav:last-child,button{
    margin-right: 2rem;
}
li{
    list-style: none ;
}

p,label{text-transform: capitalize;
    line-height: 1.4;
    font-family: "Urbanist", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color:rgb(121, 106, 106);
 }
 a{
     text-decoration: none;
 }
 li{
     list-style: none ;
 }
#search,button{
border-radius: 0.5rem;

 }
  
.logo{
width:30rem;
}
 .newsbar{
    margin: 0 6rem;
    background-color: blue;
 }
 #search{  
    width:25rem;
    height:100%;
    padding-inline:1.2rem;
    padding:0.5rem 2.4rem;
    border-color: rgb(18, 18, 203);
    font-family:"Poppins", sans-serif;
 
}
#save{
    background-color: rgb(18, 18, 203);
    color:white;
    padding:0.8rem 2.4rem;
    border:none;
    cursor: pointer;
    font-family:"Poppins", sans-serif;


}
#save:hover{
    background-color: white;
    color: rgb(18, 18, 203);
    font-weight: 700;
}
.search::placeholder{  font-weight: 700;

}
#Allcard{ 
    display: flex;
    /* gap: 3.2rem; */
    gap: 2rem;
    row-gap: 2rem;
    margin-top: 2rem;
    /* 8 */
    flex-wrap: wrap;
    align-items: start;
    justify-content:space-around;
padding:3rem 1rem;
 
}
.newsbar-card{
    
    /* margin: 0 8rem; */
    padding-block: 3rem;
    /* margin-top: 7rem; */
}
.card-content{
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* row-gap: 2rem; */
    /* align-items: start; */
}
.card{
    width: 36rem;
    min-height: 40rem;
    box-shadow: 0 0 1rem #d4ecff;
border-radius: 0.5rem;
cursor: pointer;
background-color:#fff;
overflow: hidden;
transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(181, 181, 181);
    background-color:#f9fdff;
    transform: translateY(-0.8rem);
}
.card-header img{
    width: 100%;
    height:20rem;
    object-fit: cover;

}
.card-content{
    padding: 1.5rem;
}
.news-source{
    margin-block: 1.5rem;
}


@media screen and (max-width: 1220px) and (min-width: 860px) {
    .nav {
        flex-wrap: wrap; 
    }

    .nav > :nth-child(3) {
        flex-basis: calc(100% - 10px); 
        margin-top: 1rem; 
        text-align: right; 
    }
}
 
@media screen and (max-width: 860px) {
    
    .navbar ul{
        display: flex;
      
  
        gap: 2rem;

 
  text-align: center; 
    }
    .navbar{
      
    
    }
    
.navbar ul li a{
    text-transform: capitalize;
    
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;
    color:black;
  
}



.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.nav > *:nth-child(1),
.nav > *:nth-child(3) {

   
    order:1;
}

.nav > *:nth-child(2) {
    flex-basis: 50%;
    order:2;
}

}





@media screen and (max-width: 730px) {
    .navbar ul{
        padding:0.5 0.5rem;
        margin:0.5 0.5rem;
        width:max-content;
        flex-wrap: wrap; 
        
        
       
    }input#search {
        padding: 0.1rem 0.9rem;}
    
    /* .both{
        width:20%;

    } */
    .button{
        
    }
    .logo{
        width:30%;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7rem;
    }
    

#save{
   
    padding:0.5rem 0.5rem;
}
.navbar ul li a{ 
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    color:black;
    margin: 0.1rem 0.1rem;
}
.navbar{
    margin: 0rem 2rem;
}



#search{  
    width:18rem;
    height:100%;

    margin:0.2rem 0.2rem;
    
 
}.search::placeholder{  font-weight: 500;

}#save{

    
    padding:0.2rem 0.2rem;

font-size: 1rem;

}p,label{
    font-family: "Urbanist", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color:rgb(121, 106, 106);
 }
 h6{
    font-size: rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color:black;
text-transform: capitalize;
 }h3{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color:black;
    text-transform: capitalize;
 }
 .news-source {
    margin-block: 0.8rem;
}

}


@media screen and (max-width: 435px){

    
    #save{
        padding: 0.5rem 0.5rem;
    }
    .navbar ul li a{ 
        font-weight: 500;
        font-size: 1rem;
        display: inline-block;
        position: relative;
        color:black;
        margin: 0.1rem 0.1rem;
    }
    .navbar ul{
       
        margin: 0.1 0.2rem;
    }p,label{
        font-family: "Urbanist", sans-serif;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        color:rgb(121, 106, 106);
     }
    
.newsbar-card{
    
    /* margin: 0 8rem; */
    padding-block: 3rem;
    /* margin-top: 7rem; */
}
.card-content{
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* row-gap: 2rem; */
    /* align-items: start; */
}
.card{
    width: 30rem;
    min-height: 30rem;
    box-shadow: 0 0 1rem #d4ecff;
border-radius: 0.3rem;
cursor: pointer;
background-color:#fff;
overflow: hidden;
transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 0.4rem 0.4rem 0.4rem rgb(181, 181, 181);
    background-color:#f9fdff;
    transform: translateY(-0.5rem);
}
.card-header img{
    width: 100%;
    height:20rem;
    object-fit: cover;

}
.card-content{
    padding: 1rem;
}
.news-source{
    margin-block: 0.5rem;
}
h6{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color:black;
text-transform: capitalize;
 }h3{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color:black;
    text-transform: capitalize;
 }p,label{text-transform: capitalize;
    line-height: 1;
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 350;
    color:rgb(121, 106, 106);
 }

}


 @media screen and (max-width: 346px) {
    .search::placeholder{  font-weight: 600;

    }
    input#search {
        padding: 0.1rem 0.4rem;
    }
    .navbar ul{
    
        padding:0.5 0.5rem;
        /* margin:0.5 0.5rem; */
        width:max-content;
        flex-wrap: wrap; 
        /* background-color: red; */
        margin: 0.1rem 5rem;
    }
    
    .both{
        width:20%;

    }
    #search{  
        width:17rem;
        height:2rem;
    
     
        
     
    }
    /* .save{
        width:1rem;
        
    } */
    .logo{
        width:50%;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
   
    }
    


#save{
    background-color: rgb(18, 18, 203);
    color:white;
    padding:0.2rem 0.2rem;
    border:none;
    cursor: pointer;
    font-family:"Poppins", sans-serif;
/* font-size: 1.3rem; */

}
.navbar ul li a{ 
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    color:black;
}
 
.navbar ul{
    display: flex;
    margin: 0.1rem 5rem;
    /* background-color:red; */
    gap: 1rem;


text-align: center; 
}
.navbar{
  

}

.navbar ul li a{
text-transform: capitalize;

font-weight: 600;
font-size: 1rem;
display: inline-block;
position: relative;
color:black;

}





.nav {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 0.5rem;
}

.nav > *:nth-child(1),
.nav > *:nth-child(3) {

order:1;
}

.nav > *:nth-child(2) {
flex-basis: 50%;
order:2;
}
p,label{
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color:rgb(121, 106, 106);
 }

.newsbar-card{

/* margin: 0 8rem; */
padding-block: 3rem;
/* margin-top: 7rem; */
}
.card-content{
/* display: flex; */
/* justify-content: space-between; */
/* flex-wrap: wrap; */
/* row-gap: 2rem; */
/* align-items: start; */
}
.card{
width: 25rem;
min-height: 25rem;
box-shadow: 0 0 1rem #d4ecff;
border-radius: 0.3rem;
cursor: pointer;
background-color:#fff;
overflow: hidden;
transition: all 0.3s ease;
}

.card:hover{
box-shadow: 0.4rem 0.4rem 0.4rem rgb(181, 181, 181);
background-color:#f9fdff;
transform: translateY(-0.5rem);
}
.card-header img{
width: 100%;
height:17rem;
object-fit: cover;

}
.card-content{
padding: 1rem;
}
.news-source{
margin-block: 0.5rem;
}
h6{
font-size: 0.8rem;
letter-spacing: 0.1rem;
font-weight: 600;
color:black;
text-transform: capitalize;
}h3{
font-size: 1rem;
letter-spacing: 0.1rem;
font-weight: 800;
color:black;
text-transform: capitalize;
}p,label{text-transform: capitalize;
line-height: 1;
font-family: "Urbanist", sans-serif;
font-size: 1rem;
letter-spacing: 0.06rem;
font-weight: 350;
color:rgb(121, 106, 106);
}
} 
@media screen and (max-width: 287px){
    .search::placeholder{  font-weight: 500;

    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }
    #search{
        width:14rem;
        height:1.7rem;
    }
#save{
   

    padding:0.2rem 0.2rem;
font-weight: 500;
font-size: 0.9rem;
text-align: center;


}.navbar{
    margin: 0.1rem 0.1rem;
}
.navbar ul{

    gap:0.7rem;
}
.navbar ul li a{
    letter-spacing: 0.05rem;
   
    text-transform: capitalize;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size:0.8rem;
    display: inline-block;
    position: relative;
    color:black;
    font-family: "Urbanist", sans-serif;
}
.nav:last-child,button{
    margin-right: 0.5rem;
}
p,label{
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color:rgb(121, 106, 106);
 }

.newsbar-card{

/* margin: 0 8rem; */
padding-block: 3rem;
/* margin-top: 7rem; */
}
.card-content{
/* display: flex; */
/* justify-content: space-between; */
/* flex-wrap: wrap; */
/* row-gap: 2rem; */
/* align-items: start; */
}
.card{
width: 20rem;
min-height: 23rem;
box-shadow: 0 0 1rem #d4ecff;
border-radius: 0.3rem;
cursor: pointer;
background-color:#fff;
overflow: hidden;
transition: all 0.3s ease;
}

.card:hover{
box-shadow: 0.3rem 0.3rem 0.3rem rgb(181, 181, 181);
background-color:#f9fdff;
transform: translateY(-0.4rem);
}
.card-header img{
width: 100%;
height:17rem;
object-fit: cover;

}
.card-content{
padding: 1rem;
}
.news-source{
margin-block: 0.4rem;
}
h6{
font-size: 0.7rem;
letter-spacing: 0.1rem;
font-weight: 600;

}h3{
font-size: 0.9rem;
letter-spacing: 0.1rem;
font-weight: 800;

}p,label{
line-height: 1;

font-size: 0.8rem;
letter-spacing: 0.06rem;
font-weight: 350;

}
}
@media screen and (max-width: 245px){

    #search{
        width:12rem;
        height:1.4rem;
    }
#save{
   
    
    padding:0.1rem 0.1rem;

font-size: 0.8rem;

}
input#search {

    padding: 0.1rem 0.8rem;
    /* padding: 0.15rem 0.8rem; */
}
.card{
    width: 18rem;
    min-height: 22rem;
    box-shadow: 0 0 1rem #d4ecff;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color:#fff;
    overflow: hidden;
    transition: all 0.3s ease;
    }
    
    .card:hover{
    box-shadow: 0.3rem 0.3rem 0.3rem rgb(181, 181, 181);
    background-color:#f9fdff;
    transform: translateY(-0.4rem);
    }
    .card-header img{
    width: 100%;
    height:16rem;
    object-fit: cover;
    

}
}
@media screen and (max-width: 218px){
    #search{
        width:12rem;
        /* height:1rem; */
    }
#save{
    
    
    padding:0.1rem 0.1rem;

font-size: 0.8rem;

}
input#search {
    padding: 0.1rem 0.8rem;
    font-size: 0.8rem;
    /* background-color: blueviolet; */
}
.navbar ul li a{
    letter-spacing: 0.03rem;
   
    text-transform: capitalize;
    /* text-transform: uppercase; */
    font-weight: 580;
    font-size:0.75rem;
    display: inline-block;
    position: relative;
    color:black;
    font-family: "Urbanist", sans-serif;
}
#search::placeholder{
    font-size: 1rem;
    padding:0.1rem 0.1rem;
}

.card{
    width: 18rem;
    min-height: 20rem;
    box-shadow: 0 0 1rem #d4ecff;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color:#fff;
    overflow: hidden;
    transition: all 0.3s ease;
    }
    
    .card:hover{
    box-shadow: 0.3rem 0.3rem 0.3rem rgb(181, 181, 181);
    background-color:#f9fdff;
    transform: translateY(-0.4rem);
    }
    .card-header img{
    width: 100%;
    height:14rem;
    object-fit: cover;
    

}
}

@media screen and (max-width: 203px){
    input[type="text"], textarea {
        font-size: 0.5rem; /* Adjust font size as desired */
    }
    :focus {
        outline: none;
    }
    
    #search{
        width:10rem;
        /* height:1rem; */
    }
#save{

    
    padding:0.08rem 0.08rem;

font-size: 0.7rem;

}



    input#search {
   padding:0.1rem 0.5rem;
   /* padding-bottom: 0.1rem; */
   font-size: 1rem;
   /* background: yellow; */
        /* padding: 0.11rem 0.11rem; */
    }

    #search::placeholder{padding:0 0.5rem;
        font-size: 1rem;
  
    /* margin-top: 0rem;
   /* padding-top: -1rem; */
        /* background: blue; */
        text-align: center;
    }

    .card{
        width: 15.5rem;
        min-height: 16rem;
     
        box-shadow: 0 0 1rem #d4ecff;
        border-radius: 0.3rem;
        cursor: pointer;
        background-color:#fff;
        overflow: hidden;
        transition: all 0.3s ease;
        }
        
        .card:hover{
        box-shadow: 0.3rem 0.3rem 0.3rem rgb(181, 181, 181);
        background-color:#f9fdff;
        transform: translateY(-0.4rem);
        }
        .card-header img{
        width: 100%;
        height:12rem;
        object-fit: cover;
        
    
    }
}
 /*  */

 .grid-four--cols{
    grid-template-columns: repeat(4,1fr);
  }
  .grid{
    display:grid;
}
